body {
    text-align: center;
    font-family: 'Happy Monkey', cursive;
    background: linear-gradient(rgb(167, 165, 243),pink);
    color: #ffffff;
    z-index: -1;

}

h1, h2, h3, h4, p {
    text-shadow: 0 0 1px black;
}

#chomu {
    width: 150px;
    border-radius: 50%;
    border: 6px solid #EFB0C9;
    margin-bottom: 10px;
}

#bday-age {
    background: #EFB0C9;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
}

#bday-date {
    margin: 0;
    background: #EFB0C9;
    padding: 5px 10px;
    border-radius: 5px;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-section {
    margin-top: 50px;
}

.gift-title {
    margin-bottom: 10px;
}

.gift-hint {
    margin-top: 0;
}

#gift-img-cheers {
    height: 300px;
    width: 300px;
}
#baby {
    height: 400px;
    width :400px;
}

.gift-img {
    margin: 20px auto;
    max-width: 400px;
    height: 400px;
    border: 6px solid white;
    border-radius: 10px;
    background-image: url("images/gift-img.jpg");
    background-size: cover;
}

#gift-img-happy:hover {
    background-image: url("images/gift-img-happy.gif");
}

#chutiya2:hover {
    background-image: url("images/chutiya2.gif");
}

#gift-img-chutiya:hover {
    background-image: url("images/chutiya.gif");
}

#gift-img-badass:hover {
    background-image: url("https://i.pinimg.com/originals/1e/c2/50/1ec2503998ae3fddb65b510dcdb3a7bd.gif");
}

#gift-img-cheers:hover {
    background-image: url("images/giphy.gif");
}

#baby:hover {
    background-image: url("images/baby.gif");
}

#footer {
    font-style: italic;
    width: 400px;
    margin: 40px auto 20px;
}

a {
    color: rgb(171, 24, 24);
}
